body {
  background-image:
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    width: 60px;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-family: 'Press Start 2P', cursive;
}

header {
  padding-left: 100px;

}

#game {
  padding-top: 40px;
  padding-left: 25px;
  font-family: 'Lekton', sans-serif;
  text-align:center;

}

img {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 350px;
}
h3 {
  text: center;
}

#about {
  background-color:
  width: 100%;
  padding-left: 25px;

}

#rules {
  font-family: 'Lekton', sans-serif;

}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;

}
